doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#nav 
       ul 
         center 
          li #[a(href="/home") home ]
          li #[a(href="/product") product]  
          li #[a(href="/") contact us]
          br 
       section#one 
           h1 NATIONAL CRICKET  ACADEMY
       section#four 
           h3 OUR GOAL
       section#two     
           div#aa 
             center 
                  h2 create world class batsman
           div#bb
               center 
                  h2 create world class bowler
           div#cc
               center 
                  h2 create world class feilder
       footer#three
           center 
            h2  © all right reseverd since 2022
    script
      include ../static/script.js