doctype html
html
  head
    style
      include ../static/product.css
  body
    nav#nav 
       ul 
         center 
          li #[a(href="/home") home ]
          li #[a(href="/product") product]  
          li #[a(href="/") contact us]
          br 
       section#one 
           h1 NATIONAL CRICKET  ACADEMY
       section#four 
           h3 OUR PRODUCT
       section#two     
           div#aa 
           div#bb
           div#cc
           div#dd      
       footer#three
           center 
            h2  © all right reseverd since 2022
    script
      include ../static/script.js